body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  width: 100%;
}

/* This is the global style */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}
/* Header */
header {
  color: black;
  padding-top: 30px;
  min-height: 70px;
  margin-top: -30px;
}

header a {
  color: #1b6ca8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

header a:hover {
  font-weight: bold;
  color: blue;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header .logo {
  float: left;
}
header .logo h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.logo {
  width: 150px;
  height: 80px;
  margin-left: 10px;
  /* padding-bottom: 25px; */
}

/* Section-1 */
#section1 {
  min-height: 400px;
  background: url("../../assets/image/cancer.jpg");
  text-align: center;
  color: white;
  /* width: 100%; */
}

#section1 h1 {
  margin-bottom: 10px;
  margin-top: 100px;
  font-size: 55px;
}

#section1 p {
  font-size: 20px;
}

#section2 {
  margin-top: 20px;
}
#section2 .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#section2 .box img {
  width: 90px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
.login-head {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}
/* .logo-div {
  float: left;
  margin-bottom: 10px;
} */

.header-container {
  /* width: 80%;
  margin: auto;
  overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-2 {
  /* width: 80%;
  margin: auto;
  overflow: hidden; */
  display: flex;
  align-items: center;
}

.box > img {
  height: 80px;
}
