<div>
  <header>
    <div class="header-container">
      <div class="logo-div">
        <img src="../../assets/image/BRID.png" alt="logo" class="logo" />
      </div>
      <nav>
        <ul>
          <li><a href="=#">HOME</a></li>
          <li><a href="=#">ABOUT</a></li>
          <li><a href="=#">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="section1">
    <div class="container">
      <h1>BRIDGE</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </section>

  <section id="section2">
    <div class="container-2">
      <div class="box">
        <img
          src="../../assets/image/awareness.png"
          alt="breast-cancer-awareness"
        />
        <h3>What is breast cancer?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="box">
        <img src="../../assets/image/tie.png" alt="breast-cancer-awareness" />
        <h3>What is breast cancer?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="box">
        <img
          src="../../assets/image/breast.jpg"
          alt="breast-cancer-awareness"
        />
        <h3>What is breast cancer?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </section>

  <footer>
    <p>BRIDGE, Copyright &copy; 2020</p>
  </footer>
</div>
